#home--above {

  background: @black100 url('/assets/img/bg.jpg') center right no-repeat;
  background-size: cover;
  padding-top: @padding-top;
  transition: 300ms ease;

  .content {

    padding-bottom: @spaced*2;

    @media @min {
      padding-top: 200px;
    }

    @media @tablet {
      padding-top: 300px;
    }

    @media @desktop {
      padding-top: 250px;
    }

    @media @max {
<<<<<<< HEAD
      padding-top: 0;
=======
      padding-top: 280px;
>>>>>>> 0d9148aa80a0342a1bc93018d6ee643e68caf394
    }

    header {
      margin-bottom: 0;
    }

    h4 {
      color: @white;
      text-shadow: 0 0 15px @black75;
      span {
        color: @rb-red;
      }
    }

    h2 {
      color: @white;
      background: @rb-red;
      display: inline-block;
      padding: 12px 12px;
      margin-bottom: 0;
    }

    h1 {
      color: @white;
      text-shadow: 0 0 15px @black50;
      margin-bottom: 10px;
      .font_size(100);
      a {
        color: inherit;
      }
    }

    .meta {
      .btn {

        background: darken(@rb-red, 10%);
        border-radius: 0;
        color: @white!important;
        .font_size(16);

        &.addthisevent-drop {
          margin: 0!important;
          float: left;
        }

      }
    }

  }

}