#wrapper {

  transition: 300ms ease;

  &.fs-swap-active {

    transform: translate(-5%, 0%);
    overflow: hidden;

  }

}

#page--main {

  padding-top: @padding-top*2;

  header {

    h1 {

      color: @white;
      text-transform: uppercase;
      text-shadow: 0 0 5px @black25;

      @media @desktop {
        .font_size(72);
      }

    }

  }

}


#page--related {

  article {

    margin-bottom: @fs-grid-gutter*2;

    p {

      color: @white75;
      .font_size(16);

    }

    .thumbnail {
      margin-bottom: @spaced/2;
    }

    header {

      h3,h4,h5 {

        color: @white;
        margin-bottom: 2px;

        a {

          color: @white;

        }

      }

      h5 {

        .font_size(15);
        text-transform: uppercase;

      }

    }

  }

}


#home {

  &--content {
    position: fixed;
    height: 100%;
    top: 0;
    background: @white;
    z-index: 80;
    transition: 250ms ease;
    transform: translate(0%, 0%);
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    overflow-y: scroll;

    &-loading {
      height: 32px;
      width: 32px;
      .center();
      background: url('/assets/img/ajax-loader.gif');
    }

    &-close, .mfp-close {
      position: absolute;
      top: 0;

      @media @min {
        left: 0;
        z-index: 99;
        height: 50px;
        width: 100%;
        padding: 0;
        top: 0;
        background: @rb-red;
        text-align: center;
        opacity: 1
      }

      @media @tablet {
        left: -50px;
        z-index: 99;
        height: 50px;
        width: 50px;
        padding: 0;
        background: @rb-red;
        text-align: center;
      }
    }

    &.fs-swap-active {

      transform: translate(-100%, 0%);

    }

    @media @min {
      width: 100%;
      right: -100%;
      padding-bottom: 50px;
    }

    @media @tablet {
      top: 0;
      width: 75%;
      right: -75%;
    }

    @media @desktop {
      width: 50%;
      right: -50%;
    }

  }

  &--recent {

    padding-top: @spaced;
    margin: @spaced*2 0;
    overflow: hidden;
    position: relative;

    .arrow {

      position: absolute;
      z-index: 99;
      top: 50%;
      .font_size(75);
      @common: 80px;
      height: @common;
      line-height: @common;
      width: @common;
      margin-top: -25px;
      text-align: center;

      &-left {
        left: 0;
      }

      &-right {
        right: 0;
      }

      a {
        color: @white50;
        position: relative;
        &:before {
          position: relative;
          top: .175em;
        }
        &:hover {
          color: @white;
        }
        &:active {
          top: 1px;
        }
      }

    }

    &-slider {

      height: 360px;
      position: relative;
      overflow: visible;
      padding-top: 0;

      .rsOverflow, .rsVisibleNearbyWrap {
        overflow: visible;
      }

      .rsArrow, .rsNav {
        display: none!important;
      }

      .rsSlide {

        overflow: visible;
        opacity: .25;
        transition: opacity 500ms ease;

        &.rsActiveSlide {
          opacity: 1;
        }

      }

    }

  }

}

.addthisevent-drop {
  z-index: 1;
  font-family: inherit;
  text-decoration: none!important;
}

.content {
  .fluid-width-video-wrapper {
    padding: 0!important;
  }
}