@padding-top: 85px;

body,html {
  background: #000;
}

.spaced {

  &.top {

    margin-top: @spaced;

  }

}

.arrow {

  &.down {

    hr {

      margin: 0 auto;
      width: 1px;
      height: 200px;

    }

    &.short {

      hr {

        height: 60px;

      }

    }

    &:after {

      content: '';
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: @white;
      clear: both;
      margin: auto;

    }

  }

}